In [9]:
mylist = [1,2,3]

## Lists are nothing but an array

In [10]:
mylist[0]
## as you can see that the List works pretty much like a string

1

In [11]:
mylist[0]= 5
mylist[2]= 7

In [12]:
mylist
# so as w can see unlike strings lists are muutable in nature meaning they can change the original variable of the inital input

[5, 2, 7]

## Lists Methods

In [15]:
mylist.append(7)
## as we can see that the append function adds a number or a letter or anything that we want to in a list 
mylist.append('Lol')

In [16]:
mylist

[5, 2, 7, 7, 7, 'Lol']

In [ ]:
mylist.pop()
## As we can see that in the pop function the last element gets popped out bu also the original list changes that is it does not have the last element in my case that os 'lol'

'Lol'

In [18]:
mylist

[5, 2, 7, 7, 7]

In [19]:
mylist1 = [1 , 3 , 4 ]
mylist2 = mylist1 + mylist

In [ ]:
mylist2
 ## So from here e can say that we can add 2 lists in order generate a combination of array or a long list

[1, 3, 4, 5, 2, 7, 7, 7]

In [23]:
mylist*3
## So from here we can say that we can multiply the list which gives a recuring numbers of the same list dependikng upon the index multiplied

[5, 2, 7, 7, 7, 5, 2, 7, 7, 7, 5, 2, 7, 7, 7]

In [ ]:
mylist.reverse()
## The reverse function in lists is used reverse or rotate the entire list

In [25]:
mylist

[7, 7, 7, 2, 5]

## List Advanced

## Nested List

In [27]:
newlist = [1 , 4 , 'a' ]

In [28]:
newlist1 = [4, 5 , 'b', newlist]

In [ ]:
newlist1
## This shit is known as a nested list

[4, 5, 'b', [1, 4, 'a']]

In [31]:
#so now 
newlist1[3]

[1, 4, 'a']

In [32]:
# SO now insted of taking out a particular number in a nested list we can do 1 thing we can pass 2 attributes into it original list inorder ot get the desired value . Lets take an example !!
a = newlist1[3][2]

In [33]:
a

'a'

In [ ]:
# Thats gonna be of lists next we are gonna get in dictionary !!! Goodbye