Just like Lists and Dictionaries sets are also data structure use din python but just like a traditional srt in mathematics a set contains all the member elements a s a well deined that means they cannot  have more than same item repeated

In [1]:
myset= {1, 2, 1,}

In [2]:
myset

{1, 2}

In [3]:
type (myset)

set

In [4]:
#we can change a list to a set and also change a dictionary to a set

In [5]:
mylist = [1 , 2, 3 ,4 , 4 , 1]

In [6]:
myset= set(mylist)

In [7]:
myset

{1, 2, 3, 4}

In [8]:
myset.add(5)

In [9]:
myset

{1, 2, 3, 4, 5}

In [10]:
# so we can add a number or data to a set as a result just like list append

In [11]:
myset = {}

In [12]:
# this creates an empty set for entering imported data