Just like Lists and Dictionaries sets are also data structure use din python but just like a traditional srt in mathematics a set contains all the member elements a s a well deined that means they cannot  have more than same item repeated

In [1]:
myset= {1, 2, 1,}

In [2]:
myset

{1, 2}

In [3]:
type (myset)

set

In [4]:
#we can change a list to a set and also change a dictionary to a set

In [5]:
mylist = [1 , 2, 3 ,4 , 4 , 1]

In [6]:
myset= set(mylist)

In [7]:
myset

{1, 2, 3, 4}

In [8]:
myset.add(5)

In [9]:
myset

{1, 2, 3, 4, 5}

In [10]:
# so we can add a number or data to a set as a result just like list append

In [11]:
myset = {}

In [12]:
# this creates an empty set for entering imported data

In [13]:
myset = set()
myset.add(1)

In [14]:
myset

{1}

In [15]:
myset.update(mylist)
# inorder to add a list to a set we need to use the update method as because add method only adds one element at a time and also it lists are immuatable in nature we cannot use to add  method to append a list in a set

In [16]:
mydict = {'a': 1, 'b': 2, 'c': 3}

In [17]:
myset

{1, 2, 3, 4}

In [18]:
myset.update(mydict)
# this will add the keys of the dictionary to the set

In [19]:
myset

{1, 2, 3, 4, 'a', 'b', 'c'}

In [20]:
# but if we want to add the values of the dictionary to the set we can use the values method

In [21]:
myset.update(mydict.values())

In [22]:
myset

{1, 2, 3, 4, 'a', 'b', 'c'}

In [23]:
myset

{1, 2, 3, 4, 'a', 'b', 'c'}

In [24]:
 a = mydict.values()

In [25]:
myset.update(a)

In [26]:
myset

{1, 2, 3, 4, 'a', 'b', 'c'}

In [27]:
# we can also use the union method to add two sets together

In [28]:
myset = set([1, 2, 3, 4, 5])

In [29]:
myset1= set([4, 5, 6, 7, 8])

In [30]:
myset.union(myset1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [31]:
myset

{1, 2, 3, 4, 5}

In [32]:
myset2 = myset.union(myset1)

In [33]:
myset2

{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
myset3 = myset2.difference(myset)

In [35]:
myset3

{6, 7, 8}

In [36]:
# so as we can see that we can perform all the time of operations on sets like we do in traditional mathematics , intersection, union, difference etc