
# Tuples

### Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
try:
    tup1 = tuple(range(1 , 11))
    print(tup1)
except Exception as e:
    print(e)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [6]:
try:
    print(tup1[0] , tup1[4] , tup1[9])
except Exception as e:
    print(e)

1 5 10

### Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [12]:
try:
     print(tup1[:3])
     print(tup1[-3:])
     print(tup1[2:5])
except Exception as e :
    print(e)

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

### Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [17]:
try :
    tup2 = ((1 , 2 , 3),
            (4 , 5 ,6),
            (7 , 8 , 9))
    print(tup2[1][2])
    

except Exception as e:
    print(e)

6

### Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [20]:
try :
    tup1 = tuple(range(1 , 4))
    tup2 = tuple (range(4 , 7))
    tup3 = tup1 + tup2
    print(tup3)
except Exception as e:
    print(e)

(1, 2, 3, 4, 5, 6)

###  Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [1]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print(f"Occurrences of 4: {tpl.count(4)}")
print(f"Index of first occurrence of 2: {tpl.index(2)}")

Occurrences of 4: 3
Index of first occurrence of 2: 1

###  Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [7]:
try:
    import random 
    tup1 = tuple(random.randint(1 , 10) for x in range(5))
    print(tup1)
    a , b , c ,d , e = tup1
    print(a , b , c , d , e)
    

except Exception as e:
    print(e)

(2, 6, 9, 4, 4)
2 6 9 4 4

###  Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [9]:
try:
    import random
    list1 = [random.randint(1 , 10) for x in range(5) ]
    print(list1)
    print(tuple(list1))
except Exception as e:
    print(e)

[2, 10, 8, 3, 1]
(2, 10, 8, 3, 1)

### Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [ ]:

## this is an easier of creating a tuple of tuples directly using list comprehension 
try:
    import random
    tup1 = tuple(tuple(random.randint(1 , 10) for x in range(3)) for y in range(3))
    print(tuple(tup1))
except Exception as e:
    print(e)

((3, 8, 8), (5, 5, 10), (8, 10, 8))

###  Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [4]:
try:
    import random 
    tup1 = tuple(random.randint(1 ,10) for x in range(5))
    list1 = list(tup1)
    list1.append(6)
    tuple(list1)
    print(list1)
except Exception as e:
    print(e)

[10, 3, 10, 2, 7, 6]

###  Tuple and String


Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [9]:
import random
from nltk.corpus import words
eng = words.words()
randomword = random.choice([x for x in eng if 5<= len(x) <=8])
print(randomword)
tup1 = tuple(randomword)
print(tup1)
joined_string = ''.join(tup1)
print(joined_string)

olefinic
('o', 'l', 'e', 'f', 'i', 'n', 'i', 'c')
olefinic

###  Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [15]:
try:
    import random
    from faker import Faker
    l = Faker()
    tup1= tuple(tuple(random.randint(1 ,10) for x in range(3)) for y in range(3))
    dict1 = dict(zip(list(l.first_name() for y in range(3)) , tup1))
    print(dict1)
except Exception as e:
    print(e)

{'Carl': (1, 8, 5), 'Lauren': (6, 8, 3), 'Amanda': (4, 1, 5)}

### Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [17]:
try:
    import random
    tup1 = tuple(tuple(random.randint(1 ,10) for x in range(3)) for y in range(3))
    print(tup1)
    for rows in tup1 :
        for values in rows:
            print(values)
except Exception as e:
    print(e)

((5, 1, 6), (9, 9, 5), (5, 9, 5))
5
1
6
9
9
5
5
9
5

###  Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [27]:
try:
    tup4 = tuple(random.randint(1 , 10) for x in range(5))
    print(tup4)
    print(set(tup4))
except Exception as e:
    print(e)

(6, 7, 5, 5, 8)
{8, 5, 6, 7}

### Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [38]:
def max_val(tup1):
    return max(tup1)
def min_val(tup1):
    return min(tup1)
def sum_val(tup1):
    return sum(tup1)
tup1 = tuple(random.randint(1 , 10) for x in range(5))
print(sorted(tup1))
print(max_val(tup1))
print(min_val(tup1))
print(sum_val(tup1))

[1, 1, 4, 4, 5]
5
1
15