#### As we know that SQL that is structured query language is a language or a tool used for performing different datbase operations and creating tables joining and connecting multiple tables using foreign keys and primary key etc but SQLITE is a inbult python serverless databse system used for inbult database creation and storing tabular forms of data

In [34]:
import sqlite3

In [35]:
connection = sqlite3.connect('Example1.db') ## as you can see this connection is a predefined variable in sqlite library now the syntax says tp create a new database called Examol1.db remeber the database name should always end with .db file extensions

In [36]:
## niw w eneed to create a cursor object which is used to iterate over the tables and rows and column 
## syntax : cursor = connection.cursor()
cursor = connection.cursor ()

In [37]:
### now we need to create a table 
cursor.execute('''
CREATE TABLE  IF NOT EXISTS employees(id INTEGER PRIMARY KEY  , employee_name TEXT NOT NULL  , Age INTEGER , Department TEXT)
''')
connection.commit()

In [38]:
## now selecting the elements form the table
cursor.execute('''
SELECT * FROM employees
''')

In [39]:
### inserting data in table 
cursor.execute('''
INSERT INTO employees
VALUES (1 , "Sparsho Chakraborty" , 25 , "Physics"), 
       (2 , "Sayantan Maitra" , 22 , "Electronics and Instrumentation"),
       (3 , "Md Avaish Siddiqui" , 23 , "Electronics and Instrumentation"),
       (4 , "Mohammad Alamgir" , 21 , "Electronics and Instrumentation"), 
       (5 , "Priyanka Sahu" , 25 , "Architecture");
''')
connection.commit()

In [40]:
## now i need to print the data from the table what to do now 
cursor.execute(''' SELECT * FROM employees''')
rows = cursor.fetchall()## this fetches the rows in the form of list on the rows 

## in order to print the rows we need to use and iterate
for row in rows:
    print(row)

(1, 'Sparsho Chakraborty', 25, 'Physics')
(2, 'Sayantan Maitra', 22, 'Electronics and Instrumentation')
(3, 'Md Avaish Siddiqui', 23, 'Electronics and Instrumentation')
(4, 'Mohammad Alamgir', 21, 'Electronics and Instrumentation')
(5, 'Priyanka Sahu', 25, 'Architecture')

In [41]:
#using the update keyword in sqlite3

cursor.execute(''' UPDATE employees
                    SET Age = 34
                    WHERE  employee_name = "Sparsho Chakraborty";
''')
connection.commit()

In [44]:
## now we can now print it 
cursor.execute(''' SELECT * FROM employees''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Sparsho Chakraborty', 34, 'Physics')
(2, 'Sayantan Maitra', 22, 'Electronics and Instrumentation')
(3, 'Md Avaish Siddiqui', 23, 'Electronics and Instrumentation')
(4, 'Mohammad Alamgir', 21, 'Electronics and Instrumentation')
(5, 'Priyanka Sahu', 25, 'Architecture')

In [49]:
cursor.execute(''' SELECT * FROM Students''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Sparsho Chakraborty', 34, 'Physics')
(2, 'Sayantan Maitra', 22, 'Electronics and Instrumentation')
(3, 'Md Avaish Siddiqui', 23, 'Electronics and Instrumentation')
(4, 'Mohammad Alamgir', 21, 'Electronics and Instrumentation')
(5, 'Priyanka Sahu', 25, 'Architecture')