#### As we know that SQL that is structured query language is a language or a tool used for performing different datbase operations and creating tables joining and connecting multiple tables using foreign keys and primary key etc but SQLITE is a inbult python serverless databse system used for inbult database creation and storing tabular forms of data

In [ ]:
import sqlite3

In [3]:
connection = sqlite3.connect('Example1.db') ## as you can see this connection is a predefined variable in sqlite library now the syntax says tp create a new database called Examol1.db remeber the database name should always end with .db file extensions

In [4]:
## niw w eneed to create a cursor object which is used to iterate over the tables and rows and column 
## syntax : cursor = connection.cursor()
cursor = connection.cursor ()

In [7]:
### now we need to create a table 
cursor.execute('''
CREATE TABLE  IF NOT EXISTS employees(id INTEGER PRIMARY KEY  , employee_name TEXT  , Age INTEGER , Department TEXT)
''')
connection.commit()

In [10]:
## now selecting the elements form the table
cursor.execute('''
SELECT * FROM employees
''')

In [ ]:
### inserting data in table 
cursor.execute('''
INSERT INTO employees
VALUES (1 , "Sparsho Chakraborty" , 25 , "Physics"), 
       ()
''')